{% extends 'base.html' %}

{% block content %}

<header class="text-center mb-5">
    <h2 class="section-title">{{ service.service_name }}</h2>
  </header>
     
<!-- <section class="container padding-y-lg" id="service-detail">
  <header class="text-center mb-5">
    <h2 class="section-title">{{ service.service_name }}</h2>
  </header>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <article class="glass-panel p-4">
        {% if service.image %}
        <img src="{{ service.image.url }}" class="img-fluid mb-3" alt="{{ service.service_name }}">
        {% endif %}
        <h3>{{ service.service_name }}</h3>
        <p>{{ service.description }}</p>
        <p class="service-price">From ₹ <del>{{ service.price1 }}</del> {{ service.price2 }}</p>
        <div class="d-flex gap-2">
           <a href="{% url 'package' %}" class="btn btn-primary">View Packages</a> 
          <a href="{% url 'services' %}" class="btn btn-outline-secondary">Back to Services</a>
        </div>
      </article>
    </div>
  </div>
</section> -->

<section class="container padding-y-lg" id="service-detail">
    
    <div class="row justify-content-center">
    <div class="col-md-8">
      <article class="glass-panel p-4">
      <article class="service-card glass-panel">
        {% if service.image %}
        <img src="{{ service.image.url }}" class="img-fluid mb-3" alt="{{ service.service_name }}">
        {% endif %}
     </article>
       
        

        
      <h2>About This Project</h2>
          <p class="text-muted">A grand wedding celebration in Jaipur with cinematic film direction, drone cinematography, and premium portraiture. The couple desired romantic editorial visuals with modern luxury styling.</p>
          <ul class="list-unstyled text-muted">
            <li><strong>Location:</strong> {{ portfolio.city }}  </li>
            <li><strong>Event Date:</strong>  {{ portfolio.date|date:"d M Y" }}</li>
            <li><strong>Coverage:</strong> Full {{ portfolio.title }} day + reception + film edit</li>
            <li><strong>Deliverables:</strong> Highlight film, full ceremony edit, 300+ images</li>
          </ul>

          <div class="card-body">
           <a href="{% url 'services' %}" class="btn btn-block btn-gold">Back to Services</a> 
          <a href="{% url 'home' %}" class="btn btn-block btn-gold">Booking New</a>
        </div>
      </article>

    </div>
  </div>

     
    
    </div>
    
  </section>



{% endblock %}
