{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

body{
margin:0;
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
color:white;
}

.box{
background:#222;
padding:40px;
border-radius:15px;
text-align:center;
}

a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#d4a017;
color:black;
text-decoration:none;
border-radius:8px;
}

</style>

</head>

<body>

<div class="box">

<h1>Album Access Expired</h1>

<p>Please contact BR22FILMS.</p>

<a href="tel:7255885533">Call Now</a>

</div>

</body>


{% endblock %}