 {% load static %}
 <header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <a class="navbar-brand" href="#">BR 22 Films</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#packages">Packages</a></li>
        <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
      <div class="nav-actions d-flex gap-2">
        <a href="lensbharat-signin.html" class="btn btn-soft">Login</a>
        <a href="lensbharat-register.html" class="btn btn-gold">Register</a>
      </div>
    </div>
  </nav>
</header>