{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BR 22 Films | Photography & Videography Booking</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lensbharat.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="{% static 'js/jquery-2.0.0.min.js' %}" defer></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
</head>
<body>

    <!-- navbar -->
     {% include 'includes/navbar.html' %}

   {% block content %}
   <!-- content -->
   {% endblock %}

   

   <!-- footer -->
    {% include 'includes/footer.html' %}